#edit {
  background-color: orange;
}

#delete {
  background-color: black;
  color: white;
}

.btn {
  border-radius: 5px;
  padding: 5px;
  // margin-left: 8px;
  // margin-right: 8px;
  // margin-top: 8px;
  margin: 8px;
}

#delete:hover {
  background-color: red;
  color: white;
}

#edit:hover {
  background-color: blue;
  color: white;
}

// #tableTop {
//   background-color: #212529;
//   color: white;
//   margin: 10px;
// }

#btn {
  border-radius: 5px;
  padding: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.tList {
  width: 100%;
  vertical-align: top;
  border-radius: 10px; // Apply directly to the table
  // border-collapse: separate;
  overflow: hidden; // Prevent contents from overflowing the rounded corners
  text-align: center;

  thead {
    background-color: #001824;
    color: white;

    th {
      padding: 15px;
      font-weight: bold;
    }
  }

  // td {
  //   padding-left: 15px;
  // }

  // Striped rows
  tbody tr:nth-child(odd) {
    background-color: #d3d3ff; // Background color for odd rows
  }

  tbody tr:nth-child(even) {
    background-color: #e6f2ff; // Background color for even rows
  }

  // Hover styles for rows
  tbody tr:hover {
    background-color: yellow;
    color: black;
  }
}
